{% extends 'base.html.twig' %}

{% block title %}Hello TorcedoresController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <a href="torcedor/new" class="btn btn-primary">Novo</a>
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>e-mail</th>
                    <th>Opt</th>
                </tr>
                {% for torcedor in torcedores %}
                    <tr>
                        <td>{{ torcedor.nome_torcedor }}</td>
                        <td>{{ torcedor.email }}</td>
                        <td>
                            <form method="POST" action="/torcedor/{{ torcedor.id }}">
                                <input name="_method" value="DELETE" hidden>
                                <button class="btn btn-danger">Delete</button>
                            </form></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}
